---
// Nav.astro
---
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/networks">Networks</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="/security">Security</a></li>
        <li><a href="/web-developer">Web Developer</a></li>
        <li><a href="/software-engineer">Software Engineer</a></li>
        <li><a href="/forum">Forum Diskusi</a></li>
    </ul>
</nav>
